*{
    height: 0;
    width: 0;
    box-sizing: border-box;
}

.img{
    display: flex;
    height: 400px;
    width: 400px;
    /* background-color: aquamarine; */
    background-repeat: no-repeat;
    background-image: center,center;
    background-image: url('/Imagge/CSS.png');
}