div{
    text-align: center;
    font-size: 50px;
    color: orange;
    text-transform: uppercase;
    text-decoration: 5px   overline  underline blue ;
    letter-spacing: 5px;
    word-spacing: 15px;
    text-shadow:40px 0px 6px red  ;
}
a{
    text-decoration: none;
}