*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-image: linear-gradient(to bottom, deepskyblue, deeppink);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
    
}